# Dependencies
node_modules/

# Environment
.env
.env.local

# Build
build/
dist/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# React Native
TaskManager/ios/Pods/
TaskManager/android/.gradle/
TaskManager/android/app/build/
*.hprof
